@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.header {
  background-color: black;
  color: aliceblue;
  display: flex;
  align-items: center;
  height: 85px;
  padding: 5px 16px;
  border-bottom: 3px solid orange;
}

.header-h1,
.logo {
  cursor: pointer;
}

.logo,
.header-h1 {
  width: auto;
  height: 70px;
  transition: all 0.3s;
}

.logo,
.header-h1:hover {
  transform: scale(1.2);
}

.logo {
  height: 55px;
  width: auto;
  margin-left: 40px;
}

.header-h1 {
  margin-top: 27px;
  margin-left: 35%;
}

.header-h1 span {
  color: orange;
}

.navbar {
  display: block;
  position: relative;
  margin-left: auto;
}

.header-ol {
  list-style: none;
  font-weight: bold;
}

.header-ol li {
  display: inline-block;
  padding: 0 20px;
  transition: all 0.2s;
}

.header li:hover {
  transform: scale(1.2);
}

.header-ol li a {
  font-size: 700;
  color: #fcf7c5;
  text-decoration: none;
}

.header-ol li a:hover {
  transform: scale(1.2);
  text-decoration: underline;
}

.signin {
  border: solid 3px black;
  border-radius: 10px;
  background-color: darkorange;
  padding: 7px 20px;
  font-weight: bold;
}
.btn-a {
}
.hero.area {
}
.hero-h1 {
}
.hero-p {
}
.btn-hero {
}
.services {
}
.services-ol {
}
.li-spa {
}
.li-spinning {
}
.li-tienda {
}
.li-maquinas {
}
.services-btn {
}
.planes {
}
.planes-estandar {
}
.planes-premium {
}
.planes-platino {
}
.planes-btn {
}
.form {
}
.form-left {
}
.form-right {
}
.form-name {
}
.form-email {
}
.form-pregunta {
}
.form-btn {
}
